<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
    <add name="ConString" connectionString="server=35.230.125.209; database=Assignment3; user id=root; password=yM100%otSydt;"/>
    </connectionStrings>
</configuration>